:host ::ng-deep .p-button {
    background-color: rgb(219, 163, 59)!important; /* Cor de fundo do botão */
    border-color: white !important; /* Cor da borda do botão */
    color: white !important; /* Cor do texto do botão */
}