<p-table [value] = "tasks" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>Titulo</th>
            <th>Nome</th>
            <th>Categoria</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-task >
        <tr>
            <td>{{ task.titulo }}</td>
            <td>{{ task.dificuldade }}</td>
            <td>{{ task.data_conclusao }}</td>
            <td><p-button icon="pi pi-search" severity="success"></p-button></td>
            

           
        </tr>
    </ng-template>
</p-table>
