<!-- header.component.html -->
<p-toolbar>
    
  
   <div class="navegacao">
    <p-button label="Home" routerLink="/"></p-button>
    <p-button label="Tasks" routerLink="/tasks"></p-button>
   </div>
   
   <!-- <div class="imagem">
      <img src="../../../../assets/Captura de Tela 2023-11-17 às 14.28.47.png" alt="TaskHub Logo" class="logo">
   </div> -->
   <div class="imagem">
      <img src="../../../../assets/Captura de Tela 2023-11-17 às 14.33.31.png" alt="TaskHub Logo" class="logo">
   </div>
   <div class="profile">
      
      <p-button label="Profile"></p-button>
      <p-button class="add-task-button" icon ="pi pi-plus" (click)="showDialog()"> </p-button>
      
   </div>
  </p-toolbar>
  <app-task-form *ngIf="displayAddTaskDialog"></app-task-form>
  