.p-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Permite que os itens se ajustem em telas menores */
}

.navegacao, .profile {
    display: flex;
    align-items: center;
    
}

/* CSS para os botões */
.navegacao p-button, .profile p-button {
    margin: 5px; 
    
    
}
/* Sobrescrevendo os estilos do botão do PrimeNG */
:host ::ng-deep .p-button {
    background-color: brown !important; /* Cor de fundo do botão */
    border-color: brown !important; /* Cor da borda do botão */
    color: white !important; /* Cor do texto do botão */
}

:host ::ng-deep .p-button{
    background-color: black;
    border-color:black
    
}
.logo {
    height: 4.1rem; /* ou o tamanho que você desejar */
    width: 8.5rem; /* isso manterá a proporção da imagem */
    border-radius: 15px;
    
  }