.p-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Permite que os itens se ajustem em telas menores */
}

.navegacao, .profile {
    display: flex;
    align-items: center;
    
}

/* CSS para os botões */
.navegacao p-button, .profile p-button {
    margin: 5px; 
    
    
}

/* Sobrescrevendo os estilos do botão do PrimeNG */
:host ::ng-deep .p-button {
    background-image: linear-gradient(to bottom, #a52a2a, #5a2a2a) !important;
    border-color: brown !important; /* Cor da borda do botão */
    color: white !important; /* Cor do texto do botão */
}

// :host ::ng-deep .p-button{
//     background-color: black;
//     border-color:black
    
// }
.logo {
    height: 4.1rem; /* ou o tamanho que você desejar */
    width: 8.5rem; /* isso manterá a proporção da imagem */
    border-radius: 15px;
    
  }

  .Btn {
  
    --white: #ffffff;
    --af-white: #f3f3f3;
    --ch-white: #e1e1e1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-image: linear-gradient(to bottom, #a52a2a, #5a2a2a) !important;
    color: white;
  }
  
  /* plus sign */
  .sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Btn svg path {
    fill: white;
}
  .sign svg {
    width: 17px;
    
   
  }

  .Btn:active {
    transform: translate(1px ,1px);
  }

//   :host ::ng-deep .p-button:focus { //removendo o a borda que o priome faz quando clico no botao
//     outline: none !important; /* Removes the default browser outline */
//     box-shadow: 0 0 0 2px black !important; /* Adds a box shadow to simulate an outline with your desired color */
// }

:host ::ng-deep .p-button:focus {
  outline: none !important;
  box-shadow: none !important;
}

/* Efeito de hover para alterar a cor do botão para uma tonalidade mais clara */
:host ::ng-deep .p-button:hover {
  background-color: white !important; 
  background-color: white !important;
  border-color: white !important;
}

/* Efeito de "ativo" para quando o botão for clicado */
:host ::ng-deep .p-button:active {
  background-color: rgb(142, 54, 54) !important;
  border-color: rgb(142, 54, 54) !important;
  background-image: rgb(142, 54, 54) !important;
  /* Substitua #corAoClicar pela cor que você quer que apareça quando o botão for pressionado */
}