<div class="kanban-board">
    <div
      class="kanban-column"
      *ngFor="let column of columns" 
      [ngClass]="{ 'drag-over': column === dragOverColumn }"
      (dragover)="onDragOver($event, column)" 
      (drop)="onDrop($event, column)" 
    >
      <h3>{{ column.name }}</h3>
      <div class="linha"></div>
      <ul class="tasks-list">
        <li
          *ngFor="let task of column.tasks" 
          class="task-card"
          draggable="true"
          (click)="openModal(task)"
          (dragstart)="onDragStart($event, task)"
          (dragend)="onDragEnd($event)"
          [ngClass]="{
            'task-card-pendente': column.name === 'Pendente',
            'task-card-em-andamento': column.name === 'Em Andamento',
            'task-card-concluido': column.name === 'Concluido'
        }" 
        >
          <h5>{{ task.titulo }}</h5>
        </li>
      </ul>
    </div>
</div>
