.kanban-board {
  display: flex;
  flex-wrap: wrap;

  background-color: rgb(253, 253, 254);
  border-radius: 10px;
 
  border: 1.5px solid rgb(206, 206, 206);
  box-shadow: 0 2px 4px rgba(8, 1, 1, 0.1);
 
  
}

h3, h5 {
  text-align: center; 
  width: 100%; 
  
}
.kanban-column {
  flex: 1;
  margin: 0 10px;
  
  
}
.kanban-column h3{
  font-family: 'Roboto', sans-serif;
  font-weight: 700; 
  
}
.tasks-list {
  list-style-type: none;
  padding: 0;
  overflow: auto;
  height: 15rem;
  
}
.task-card-pendente {
  background-color: #d50c02; /* Vermelho para Pendente */
  
}

.task-card-em-andamento {
  background-color: #e56c02; /* Laranja para Em Andamento */
}

.task-card-concluido {
  background-color: #018a01; /* Verde para Concluído */
}
.task-card-pendente:hover {
    background-color: #FF6347; /* Um tom mais claro ou diferente de vermelho para Pendente */
}

.task-card-em-andamento:hover {
    background-color: #FFA500; /* Um tom mais claro ou diferente de laranja para Em Andamento */
}

.task-card-concluido:hover {
    background-color: #32CD32; /* Um tom mais claro ou diferente de verde para Concluído */
}

.task-card {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 15px;
 
  color: white;

}
.task-card:hover{
 
}