.container .card {
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
  position: relative;
  z-index: 0;
  transition: all 300ms ease-out;
  transform-origin: center center;
  width: 100%;
  height: 100%;
  box-shadow: 0px;
}

.card-header {
  padding: 10px;
  background-color: #000;
  color: white;
  font-size: 16px;
  border: 1px solid white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.container .card .border {
  transition: all 300ms ease-out;
  transform-origin: center center;
  position: absolute;
  top: 6px;
  left: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  border: 1px solid black;
  border-radius: 9px;
}

.container {
  perspective: 1000px;
  position: relative;
  /* you don't need width and height if your card already has a lot of content */
  width: 100%;
  max-width: 250px;
  height: 150px;
  border-radius: 10px;
}
.container a {
  opacity: 0;
  position: absolute;
  z-index: 1;
  width: 50%;
  height: 50%;
}