<div class="body-background">
    <div class="login-page">
  
      <form class="form">
        <div class="title"><img src="../../../assets/IMG_8479.jpg" alt="Logo" class="logo"> </div>
        <input type="email" [(ngModel)]="email" placeholder="Email" name="email" class="input">
        <input type="text" [(ngModel)]="username" placeholder="username" name="username" class="input">
        <input type="password" [(ngModel)]="password" placeholder="Senha" name="password" class="input">
        <!-- <input type="password" [(ngModel)]="password" placeholder="Repita sua Senha" name="password" class="input"> -->
        <div class="login-with">
          <div class="botoes">
            <button class="button-confirm"(click)="onRegister()">Confirmar</button>
            <button routerLink="/login" class="button-back">Voltar</button>
          </div>
        </div>
        
        
      </form>

      <!-- <div class="modal">
        <p-dialog  [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false" >
          <h3>{{ dialogMessage }}</h3>
        </p-dialog>
      </div> -->
      

      <div class="overlay" [class.active]="visible"></div>

<div class="custom-dialog" [class.visible]="visible">
  <div class="dialog-content">
    <h3>{{ dialogMessage }}</h3>
  </div>
</div>

    
    
       
      </div>
  </div>
  
    