.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5; /* ou qualquer cor que você preferir */
    color: #8a8a8a; /* ou qualquer cor que você preferir */
    text-align: center;
    padding: 10px 0; /* ajuste o padding conforme necessário */
  }
  