

<div class="task-page-container">

    <div class="kanban-container">
        
        <app-kanban (eventEmitter)="showTaskDetails($event)" [tasks]="tasks"></app-kanban>
        
        

    </div>
    
    <div class="modal" >
        <p-dialog header="DESCRICÃO DA TASK:" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
            <p class="m-0">
               {{descricao_task}}
            </p>
        </p-dialog>
    
    </div>

    <div class="table-card-wrapper">
        <div class="table-container">
        
            <app-task-table  [tasks]="tasks" (onTaskSelect)="onTaskSelected($event)"></app-task-table>
        </div>
    
        <div class="card-container">
           
            <app-task-card  [task]="selectedTask" 
             (eventEmitter02) = 'deleteTask(selectedTask)'>
               
            </app-task-card>
        </div>
    

    </div>

   
</div>