// /* task-page.component.scss */
// .task-page-container {
//     display: flex;
//     flex-direction: row;
//     gap: 20px; /* Espaço entre os elementos */
// }

// .table-container {
//     flex: 2; /* A tabela ocupa mais espaço */
//     padding: 10px;
//     /* Adicione mais estilos aqui se necessário */
// }

// .task-page-container{
//     display: flex; //deixa alinhado na horizontal
//     flex-direction: column;
//     gap: 80px;
//     margin: 50px;
    

// }
.task-page-container {
    display: flex;
    flex-direction: column; // Organiza os filhos em colunas
    gap: 20px; // Espaço entre o Kanban e a seção de tabela e cartão
    margin: 15px; // Margem ao redor do contêiner
}
.kanban-container {
    flex-grow: 1; // O Kanban pode crescer para ocupar o espaço disponível
    margin-bottom: 20px; // Espaço abaixo do Kanban, antes da seção de tabela e cartão
    width: 100%;
    height: 80%;
    
}
.app-kanban{
    width: 100%;

}
    

.table-card-wrapper {
    display: flex;
    gap: 60px;
    
}
.table-container  {
    flex: 2;
    
    padding: 10px;
    border: 1px solid #ddd; //desenha a borda
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); //faz as bordas
    max-width: 70%;
}
// .card-container{
//     margin-left: 30px;
// }