<div class="home-page-container">

     <div class="chart-container">
          <div class="title-status">
               <h2>STATUS TASKS:</h2>
          </div>
          
          <app-chart *ngIf="tasksCounts" [status_count]="tasksCounts"></app-chart>
     </div>

     
     
     <div class="card-section">
          <div class="title-cards">
               <h2>CARDS PENDENTES:</h2>
          </div>
          <div class="card-container">
               
               <app-task-card *ngFor="let task of tasks_pendentes" [task]="task"></app-task-card>
          </div>
         
     </div>
   
     
</div>

  