
.home-page-container {
    margin: 20px; /* More breathing room on all sides */
    gap: 20px; /* Consistent gap between children */
}


.card-container{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap:20px;
    height: 100%;
    width: 100%;
    align-items: center;
    
}

.title-status h2 {
    font-size: 1.5rem;
    color: #FFFFFF;
    padding: 10px;
    background-image: linear-gradient(to bottom, #a52a2a, #5a2a2a);
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(1, 1, 1, 1);
    display: block; /* Isto fará com que ocupe toda a largura do contêiner */
    text-align: center; /* Isto centralizará o texto */
}

.title-cards h2 {
    font-size: 1.5rem;
    color: #FFFFFF;
    padding: 10px;
      background-image: linear-gradient(to bottom, #a52a2a, #5a2a2a);
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(1, 1, 1, 1);
    display: block; /* Isto fará com que ocupe toda a largura do contêiner */
    text-align: center; /* Isto centralizará o texto */
}


h2 {
    font-size: 2rem; /* Tamanho da fonte */
    letter-spacing: 0.05em; /* Espaçamento entre letras */
    font-weight: 600; /* Peso da fonte */
    color: #333; /* Cor da fonte */
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1); /* Sombra de texto */
    margin-bottom: 20px; /* Margem na parte inferior */
    text-align: left; /* Alinhamento do texto */
}

.chart-container h1 {
    width: 90%;
    margin: auto;

}
.chart-container  {
    width: 95%;
    margin: auto;
}

.card-container {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
    align-items: center;
}
.card-section{
    width: 95%;
    
    margin: auto;
}