

      <div *ngIf="task" class="custom-card">
        <div class="card-header" [ngClass]="{
          'card-header-pendente': task.status === 'Pendente',
          'card-header-em-andamento': task.status === 'Em Andamento',
          'card-header-concluido': task.status === 'Concluido'
        }">
          
          <!-- <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" /> -->
          <h3>{{task.titulo}}</h3>
          <h4>{{task.dificuldade}}</h4>
        </div>

        <div class="card-body">
          <p>{{task.descricao}}</p>
          <ul>
            <li><strong>ID:</strong> {{ task.id_task }}</li>
            <li><strong>Criado em:</strong> {{ task.data_criacao | date }}</li>
            <li><strong>Concluir até:</strong> {{ task.data_conclusao | date }}</li>
            <li><strong>Usuário:</strong> {{ task.id_user }}</li>
          </ul>
        </div>

        <div class="card-footer">
          <button class="btn btn-save">Iniciar</button>
          <button class="btn btn-cancel">Cancelar</button>
      </div>
      </div>
