

    <!-- <p-card [header]="task.titulo" [subheader]="task.dificuldade" class="w-full">
        <ng-template pTemplate="header">
          <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
        </ng-template>
        <ng-template pTemplate="content">
        <p>{{ task.descricao }}</p>
        <ul>
          <li><strong>ID:</strong> {{ task.id_task }}</li>
          <li><strong>Criado em:</strong> {{ task.data_criacao | date }}</li>
          <li><strong>Concluir até:</strong> {{ task.data_conclusao | date }}</li>
          <li><strong>Usuário:</strong> {{ task.id_user }}</li>
        </ul>
    </ng-template>
        <ng-template pTemplate="footer">
          <p-button label="Save" icon="pi pi-check"></p-button>
          <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
        </ng-template>
      </p-card> -->

      <div class="custom-card">
        <div class="card-header">
          
          <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
          <h3>{{task.titulo}}</h3>
          <h4>{{task.dificuldade}}</h4>
        </div>

        <div class="card-body">
          <p>{{task.descricao}}</p>
          <ul>
            <li><strong>ID:</strong> {{ task.id_task }}</li>
            <li><strong>Criado em:</strong> {{ task.data_criacao | date }}</li>
            <li><strong>Concluir até:</strong> {{ task.data_conclusao | date }}</li>
            <li><strong>Usuário:</strong> {{ task.id_user }}</li>
          </ul>
        </div>

        <div class="card-footer">
          <button class="btn btn-save">Save</button>
          <button class="btn btn-cancel">Cancel</button>
      </div>
      </div>
