

.custom-card{

    width: 300px;
    border: 1px solid #ddd; //desenha a borda
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); //faz as bordas
    display: flex;
    flex-direction: column;
    
   
}
.card-body p{
    // height: 50px;
    overflow: auto;
    
    

}
.card-header{
    background-color: #f5f5f5;
    padding: 10px; //espaco interno de 10 px em todos os lados do elemento
    text-align: center;
    
    
    
}


.card-header img {
    max-width: 200px;
    max-height: 200p;
    border-radius: 50%;
    margin: 0 auto;
}


.card-body {
    padding: 10px;
}

.card-footer {
    background-color: #f5f5f5;
    padding: 10px;
    text-align: center;
}
.btn{
    padding: 5px 10px;
    border:none;
    border-radius: 7px;
    cursor: pointer;
    margin-right:10px;
    width: 80px;
    
    
}
.btn-save {
  background-color: #4CAF50; /* Verde para 'Iniciar', por exemplo */
  color: white;
}
.btn-cancel {
    background-color: #f44336; /* Vermelho para 'Cancelar' */
    color: white;
  }
  