<div class="profile-page">
    <div class="card-container">
        <div class="card shadow">
            <div class="profile-content">
                <div class="profile-header">
                    <div class="user-picture">
                        <!-- SVG for user icon -->
                    </div>
                    <h2 class="name-client">Lucas Barroso</h2>
                    <h3 class="role">Developer</h3>
                </div>
                <div class="profile-info">
                    <p>Email: lucas@company.com</p>
                    <p>Phone: +123456789</p>
                    <p>Skills: JavaScript, React, Node.js</p>
                </div>
                <div  class="task-summary">
                    <h4>Current Tasks</h4>
                    <ul *ngFor="let task of currentsTasks">
                        <li>{{task.titulo}}</li>
                
                    </ul>
                </div>
                
                <div class="pizza-chart">
                    
                    <app-pizza-chart *ngIf="tasksLevelCounts" [taskLevelCounted]="tasksLevelCounts"></app-pizza-chart>
                </div>
            </div>
        </div>
    </div>
</div>

